*{
    padding: 0;
    margin: 0;
}
body{
    text-align: center;
    background: url(/BG.jpg);
    background-repeat: no-repeat;
    background-size: cover;   
}
.heading h1{
    color: royalblue;
    margin-top: 30px;
    margin-bottom: 30px;
}
.box img{
    height: 300px;
    width: 400px;
    border: 3px solid snow;
    box-shadow: 0px 0px 50px red;
}
.box-target{
    position: fixed;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    top: -100%;
    opacity: 0;
}
.box-target img{
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border: 3px solid sandybrown;
    box-shadow: 0px 0px 50px red;
    width: 800px;
    height: 600px;
}
a.close{
    display: block;
    height: 50px;
    width: 50px;
    background: seashell;
    color: darkblue;
    text-decoration: none;
    position: absolute;
    right: 0;
    top: -80px;
}
.box-target:target{
    opacity: 1;
    top: 0;
    bottom: 0;
}
.box-target:target img{
    max-height: 100%;
    max-width: 100%;
}
.box-target:target a.close{
    top: 0;
} 